@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');
@import url('https://rsms.me/inter/inter-ui.css');

body {
  height: 100vh;
  background: azure;
  display: flex;
  justify-content: center;
  align-items: center;
}
